<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2>Reenviar instruções de confirmação</h2>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Reenviar instruções de confirmação" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
