<header id="inner">
</header>

<div class="main-section" id="<%= controller_action %>">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h2>Log in</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false, label: 'Senha' %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: 'btn-block' %>
        </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
