<div class="form-group">
	<label>Título*</label>
	<%= f.text_field :title, :class => 'form-control', :placeholder => 'Desenvolvedor Ruby on Rails' %>
</div>
<div class="form-group">
	<label>Empresa*</label>
	<%= f.text_field :company, :class => 'form-control', :placeholder => 'Empresa S/A' %>
</div>
<div class="form-group">
	<label>Localização</label>
	<%= f.text_field :location, :class => 'form-control', :placeholder => 'Rio de Janeiro - RJ' %>
</div>
<div class="form-group">
	<label>E-mail para contato*</label>
	<%= f.email_field :email, :class => 'form-control', :placeholder => 'contato@empresa.com' %>
</div>
<div class="form-group">
	<label>Habilidades/Requerimentos</label>
	<%= f.text_area :skills, :class => 'form-control', :placeholder => 'Necessário ter experiência com: Ruby, Ruby on Rails ou outro framework MVC.  Desejável: APIs REST, Test Driven Development, MongoDB e GIT' %>
</div>
<div class="form-group">
	<label>Descrição*</label>
	<%= f.text_area :description, :class => 'form-control', :size => '50x5', :placeholder => 'Estamos contratando desenvolvedor Ruby/Rails, que já tenha experiência. Trabalhamos com metodologias ágeis, se tiver esta vivência também é legal =) Não precisa ser do Rio, contratamos pessoas remotas também. ' %>
</div>

<%= link_to 'Voltar', root_url, :class => 'btn btn-default' %>
<button type="submit" class="btn btn-danger">Salvar</button>