<header id="inner">
  <div class="container">
  </div>
</header>

<div class="main-section">
  <div class="container">
    
    <div class="page-header">
      <h1>
        <%= @job.title %>
      </h1>
      <p> 
        <%= content_tag :span, @job.company, class: "job-company" %>
        <%= content_tag :span, "#{@job.location}/#{modality(@job)}", class: "job-location" %>
        <%= content_tag :span, l(@job.created_at, format: :long), class: "job-date" %>
      </p>
    </div>

    <%= simple_format @job.description, class: "job-description" %>
    
    <%= content_tag :div, class: "well" do %>
      <h4> Habilidades </h4>
      <%= @job.skills %>
    <% end if @job.skills %>
    
    <div class="row do-you-like-it">
      
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
        <%= image_tag  "logo.png" %>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
        <h4> Gostou da vaga? </h4>
        <p>
          Entre em contato com o responsável pelo email <%= content_tag :span, @job.email, class: "email" %> e caso seja contratado deixe-nos saber! 
        </p>
      </div>

    </div>

    <%= link_to 'Voltar', root_url, :class => 'btn btn-default' %>
    <%= link_to_twitter @job.title %>

  </div>
</div>

