<% content_for :opengraph do %>
  <meta property="og:type" content="article">
  <%= tag("meta", property: "og:title", content: @job.title ) %>
  <%= tag("meta", property: "og:description", content: @job.description ) %>
  <%= tag("meta", property: "og:url", content: job_url(@job) ) %>
  <%= tag("meta", property: "og:image", content: asset_url('logo-for-opengraph.png') ) %>
  <%= tag("meta", property: "og:site_name", content: "Ruby Jobs" ) %>
<% end %>

<header id="inner">
  <div class="container">
  </div>
</header>

<div class="main-section">
  <div class="container">

    <div class="page-header">
      <%= content_tag :div, class: "alert alert-success fade in" do %>
        <%= content_tag :button, 'X', class: "close", data: { dismiss: "alert"  } %>
        <%= flash[:notice] %>
      <% end if flash[:notice] %>

      <%= render('job_description', job: @job, show_image: true) %>
    </div>

    <%= link_to 'Voltar', root_url, :class => 'btn btn-default' %>
    <%= link_to_twitter @job.title %>
    <%= link_to_linkedin @job.title %>

  </div>
</div>
