<div class="form-group">
  <label>Título:</label> <%= @job.title %>
</div>
<div class="form-group">
  <label>Empresa:</label> <%= @job.company %>
</div>
<div class="form-group">
  <label>Localização:</label> <%= @job.location %>
</div>
<div class="form-group">
  <label>Adicionada em:</label> <%= @job.created_at.strftime("%d/%m/%Y") %>
</div>
<div class="form-group">
  <label>Habilidades/Requerimentos:</label> <%= @job.skills %>
</div>
<div class="form-group">
  <label>Descrição:</label> <%= @job.description %>
</div>
<div class="form-group">
  <label>E-mail:</label> <%= @job.email %>
</div>

<%= link_to 'Voltar', root_url, :class => 'btn btn-default' %>
