<header id="inner">
</header>

<div class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h2>Esqueceu sua senha?</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, 'Me envie as instruções para alterar minha senha', class: 'btn-block' %>
          </div>
        <% end %>

        <%= render 'users/shared/links' %>
      </div>
    </div>
  </div>
</div>
