<!DOCTYPE html>
<html>
<head>
  <title>RubyJobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>

  <!-- http://fortawesome.github.io/Font-Awesome/ -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>RubyJobs
        <%= image_tag "ruby.png", :size => "75x75" %>
      </h1>
      <p>Site criado com o intuito de fazer o meio-campo entre empresas querendo contratar desenvolvedores Ruby, e desenvolvedores que buscam emprego.</p>
      <p><%= link_to 'Crie uma oferta de trabalho', new_job_path, :class => 'btn btn-danger btn-lg', :role => 'button' %></p>
    </div>
  </div>

  <div class="container">
    <%= yield %>
    <hr>
    <footer align="center">
      <p><%= link_to image_tag("rss_icon.png"), feed_path %> Copyright © 2014 <b>RubyJobs.me</b> - Contribute: <a href="https://github.com/matheusml/rubyjobs">https://github.com/matheusml/rubyjobs</a></p>
    </footer>
  </div>
</div>

</body>
</html>
