<!DOCTYPE html>
<html>
<head>
  <title>RubyJobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>RubyJobs
        <%= image_tag "ruby.png", :size => "75x75" %>
      </h1>
      <p>Site criado com o intuito de fazer o meio-campo entre empresas querendo contratar desenvolvedores Ruby, e desenvolvedores que buscam emprego.</p>
      <p><%= link_to 'Crie uma oferta de trabalho', jobs_path, :class => 'btn btn-danger btn-lg', :role => 'button' %></p>
    </div>
  </div>

  <div class="container">
    <%= yield %>
    <hr>
    <footer align="center">
      <p>Copyright © 2014 <b>RubyJobs.me</b> by <a href="http://matheuslima.com">Matheus Lima</a></p>
    </footer>
  </div>
</div>

</body>
</html>
